* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.css-1y5vrnu-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 !important;
}
/* -------------Auth----------- */
.leftSection {
  background-image: url(assets/auth/autpic.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media (min-width: 950px) {
  .authOutlet {
    margin:3rem;
    padding-inline: 3rem;
  }
}

@media (max-width: 950px) {
  .rightSection {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: rgba(
      255,
      255,
      255,
      9
    ); 
    border: 1rem solid rgba(201, 84, 84, 0);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
  }
  .leftSection {
    height: 100vh;}
    .css-1oukqxz-MuiGrid-root{
      padding: 0 1rem;
    }
}

/* -------------Navbar------------ */

.css-r363y4-MuiButtonBase-root-MuiIconButton-root, .css-aixiz9-MuiButtonBase-root-MuiIconButton-root  {
color: inherit !important;
}
/* -----------cardBtns------------ */
.css-171x1ng-MuiButtonBase-root-MuiButton-root{
  background-color:#1d156f !important;
}

.css-rsg7c6-MuiButtonBase-root-MuiButton-root{
    background-color: #c24029 !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.css-oofez5{
  color:white !important;}
